:host {
    display: block;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: small;
    font-weight: bold;
    user-select: none;
}

.title {
    font-family: 'Agency FB', sans-serif; 
    font-size: large; 
    color: #1c1c1c; 
    margin: 0; 
    padding-bottom: 2px; 
    padding-left: 12px;
}

.toggle-container {
    p {
        display: flex;
        align-items: center;
        width: fit-content;
        column-gap: 4px;
        padding: 4px;
        border: 1px solid #edebeb;
        border-radius: 2px;
        background-color: whitesmoke;

        .toggle {
            width: calc(16px - 2px);
            height: calc(16px - 2px);
             display: flex;
             align-items: flex-end;
            justify-content: center;
            font-size: smaller;
            color: #1a1a1a;
            padding: 2px;
            border: 1px solid #1a1a1a;
            border-radius: 2px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;        }

        .toggle:hover {
            color: #3f80ea;
            border: 1px solid #3f80ea;
            cursor: pointer;
        }
    }
}

ul:first-child {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    position: relative;
    padding-left: 0;
    margin: 0;
    list-style-type: none;

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;

        span:hover {
            color: #3f80ea;
            cursor: pointer;
        }
    }
}

li {
    list-style-type: none;
    border-left: 1px solid #999;
    margin-left: 1em;
}

li div {
    position: relative;
    position: relative;
    padding-left: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
}

li div::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 50%;
    width: 0.2cm;
    border-bottom: 1px solid #999;
}

.badge {
    background-color: rgba(63, 128, 234, .175);
    color: #3f80ea;
    padding: .25rem;
    border-radius: .2rem;
}

.badge-lifecycle {
    background-color: rgb(63 234 67 / 18%);
    color: #6ca766;
    padding: .25rem;
    border-radius: .2rem;
}

.badge-lifecycle:hover {
    color: #4f7b4b;
}