:host {
  display: flex;
  flex-direction: column;
  row-gap: 0.2cm;
  font-family: 'Agency FB', sans-serif;
  width: calc(100% - 24px) !important;
  height: calc(100% - 24px) !important;
  padding: 12px !important;
  max-width: 2000px !important;

  p {
    margin: 12px 0;
  }
}

headline {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #1c1c1c;
  user-select: none;

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1vh;
    font-size: xxx-large;

    img {
      height: 2cm;
    }

    .side {
      flex: 1;
      text-align: center;
    }

    .left {
      display: flex;
      justify-content: flex-end;
    }

    .right {
      display: flex;
      justify-content: flex-start;
    }
  }

  .navigation {
    display: flex;
    gap: 0.15cm;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  }

  .navigation a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding-bottom: 2px;
    transition: color 0.2s ease, border-color 0.2s ease;
    border-bottom: 2px solid transparent;
  }

  /* Hover effect */
  .navigation a:hover {
    color: #3f80ea;
  }

  /* Active/selected link */
  .navigation a.active {
    color: #3f80ea;
    border-bottom: 2px solid #3f80ea;
  }
}

manual {
  position: relative;
  display: flex;
  width: 100%;
  height: 80%;
  column-gap: 12px;
}

disclaimer {
  height: 2.5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: smaller;
  text-align: center;
  color: #cfcfcf;
  user-select: none;
  background-color: #8c8c8c !important;
  color: transparent !important;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5) !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  background-clip: text !important;
}

#ref_resizable {
  position: absolute;
  width: 20%;
  max-width: 20%;
  height: 100%;
}

#resizable {
  width: 20%;
  max-width: 20%;
  z-index: 10;
}

.outline {
  display: flex;
  max-width: 100%;
  min-width: 30px;
  min-height: calc(100%/3);
  max-height: 85%;
  background-color: #fafafa;
  /* border: 1px solid #adadad; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 2px;
}

.expandable {
  flex: 1;
  padding: 8px;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;

  .content {
    width: calc(100% - 16px);
    padding: 8px;
  }
}

.resizer {
  width: 4px;
  background: #d9d9d9;
  cursor: ew-resize;
}

#ads {
  width: calc(20% - 6px);

  .ads-container {
    height: calc(100%/3);
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    row-gap: 0.15cm;
  }
}

.documentation {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: .5cm;
  padding: .5cm;
  overflow: auto;
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #1c1c1c;
  background-color: #fafafa;
  /* border: 1px solid #adadad; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px;
  border-radius: 2px;

  section {
    display: flex;
    flex-direction: column;
    row-gap: .5cm;

    .sub-section {
      padding: .5cm;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    h2, h4, h5 {
      margin: 0;
      padding-top: 1em
    }

    h3 {
      margin: 0;
      text-decoration: underline;
      text-underline-offset: 0.1cm;
      padding-top: 1em
    }

    .italic-text {
      font-style: italic;
    }

    .bold-text {
      font-weight: bold;
    }

    #work-with-html,
    #work-with-css,
    #work-with-js {
      text-decoration: none !important;
      text-underline-offset: 0 !important;
    }

    p {
      margin: 0;
      text-align: justify;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.badges {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
  padding: 8px 0;
  font-size: smaller;

  img {
    width: 0.5cm;
    height: auto;
  }
}

.badge {
  width: fit-content;
  padding: .25rem;
  border-radius: .2rem;
  background-color: rgba(63, 128, 234, .175);
  color: #3f80ea;
}

.badge-lifecycle {
  width: fit-content;
  padding: .25rem;
  border-radius: .2rem;
  background-color: rgb(63 234 67 / 18%);
  color: #6ca766;
}

.highlight {
  background-color: rgba(63, 128, 234, .175);
  color: #3f80ea;
  border-radius: .2rem;
  padding: 0 4px;
}

.app-title {
  font-family: 'Agency FB', sans-serif;
  font-size: x-large;
  color: #3f80ea;
}

.main-container {
  color: #333;
  font-family: 'Segoe UI', Arial, sans-serif;
  /* background-color: #ffffff; */
  padding: .5cm;

  h3 {
    margin: 0;
    padding: 0.5cm 0;
  }

  p {
    margin: 0;
    padding: 0.25cm 0;
    text-align: justify;
  }
}

.grid-container {
  display: flex;
  flex-direction: column;
  row-gap: .5cm;
}

.sub-container {
  color: #1c1c1c;
  font-family: 'Segoe UI', Arial, sans-serif;
  /* background-color: #ffffff; */
  padding: 0 .5cm;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.flow-chart-container {
  display: grid;
  padding: 0.5cm;
  background: whitesmoke;

  .flow-chart-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flow-chart-left {
    display: flex;
    align-items: center;
    justify-content: flex-start
  }
}

.intro-container {
  padding-bottom: .25cm;
  color: #1c1c1c;

  p {
    text-align: justify;
    margin: 0;
  }
}

h2 {
  color: #1c1c1c;
  margin: 0;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .3cm;
}

.feature-card {
  display: flex;
  width: calc(100% - 8px);
  overflow-x: auto;
  padding: 4px;
  background-color: rgba(63, 128, 234, .175);
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
}

.feature-icon {
  font-size: .6cm;
  line-height: 1;
  text-align: center;
  padding-top: 4px;
}

.feature-text {
  flex: 1;
  padding: 0 8px;
}

.feature-title {
  font-weight: 600;
  font-size: 1.05em;
  color: #222;
  margin-bottom: 4px;
}

.feature-desc {
  margin: 0;
  text-align: left !important;
}

.why-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  color: #1c1c1c;
}

.why-item {
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);

  div {
    padding: 4px;
    color: #3f80ea;
    font-weight: bold;
    background-color: rgba(63, 128, 234, .175);
  }

  p {
    padding: 12px 8px;
    margin: 0;
    text-align: justify;
  }
}

.last {
  margin-bottom: 0 !important;
}

.note-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25cm;
  background: #fffbe2;
  /* border: 1px solid #e0e0e0; */
  border-left: 4px solid #ffb52b;
  border-radius: 6px;
  padding: 0.5cm;
  /* width: 50%; */
  font-size: small;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); */
}

.note-card:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 32px solid #ffb52b4a;
  border-right: 32px solid transparent;
  border-bottom-left-radius: 6px;
}

.note-card:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 30px solid #ffffff;
  border-left: 30px solid transparent;
}

.note-card h3 {
  margin: 0;
  text-decoration: none !important;
  color: #ffb52b;
  font-size: 1.1rem;
  padding: 0 !important;
}

.note-card ul {
  margin: 0;
  padding-left: 1.2rem;
  color: #333;
  line-height: 1.6;
}

.note-card ul li::marker {
  color: #ffb52b;
}

.note-card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25cm;
  background: #e2ebff;
  /* border: 1px solid #e0e0e0; */
  border-left: 4px solid #3f80ea;
  border-radius: 6px;
  padding: 0.5cm;
  /* width: 50%; */
  font-size: small;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); */
}

.note-card-info:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 32px solid #2b8dff4a;
  border-right: 32px solid transparent;
  border-bottom-left-radius: 6px;
}

.note-card-info:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 30px solid #ffffff;
  border-left: 30px solid transparent;
}

.note-card-info h3 {
  margin: 0;
  text-decoration: none !important;
  color: #3f80ea;
  font-size: 1.1rem;
  padding: 0 !important;
}

.note-card-info ul {
  margin: 0;
  padding-left: 1.2rem;
  color: #333;
  line-height: 1.6;
}

.note-card-info ul li::marker {
  color: #3f80ea;
}

.note-card-case {
  position: relative;
  background: #eee2ff;
  /* border: 1px solid #e0e0e0; */
  border-left: 4px solid #a83fea;
  border-radius: 6px;
  padding: 0.5cm;
  margin-bottom: 12px;
  /* width: 50%; */
  font-size: small;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); */
}

.note-card-case:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 32px solid #862bff4a;
  border-right: 32px solid transparent;
  border-bottom-left-radius: 6px;
}

.note-card-case:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 30px solid #ffffff;
  border-left: 30px solid transparent;
}

.note-card-case h3 {
  margin: 0;
  text-decoration: none !important;
  color: #a83fea;
  font-size: 1.1rem;
  padding: 0 !important;
}

.note-card-case ul {
  margin: 0;
  padding-left: 1.2rem;
  color: #333;
  line-height: 1.6;
}

.note-card-case ul li::marker {
  color: #a83fea;
}

code {
  color: #af5180bd;
  font-size: small;
}

.placeholder {
  color: #f02c2c;
}

.title {
  font-weight: bold;
}

.card-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  font-family: sans-serif;
}

.card-grid-container>div {
  border: 1px solid #ccc;
  padding: 0.75rem;
  background-color: #f9f9f9;
}

.card-grid-header {
  font-weight: bold;
  background-color: #eee;
}

.code {
  background: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  display: block;
  white-space: pre-wrap;
}

.lifecycle-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  border-radius: 4px;
  overflow: hidden;
}

.lifecycle-grid div {
  padding: 8px;
  border-bottom: 1px solid #333;
}

.lifecycle-grid div:nth-child(3n) {
  border-right: none;
}

.lifecycle-grid div:nth-child(3n+1),
.lifecycle-grid div:nth-child(3n+2) {
  border-right: 1px solid #333;
}

.lifecycle-grid .header {
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.version h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #007acc;
}

.version .date {
  font-size: 0.9rem;
  color: #666;
  margin-left: 0.5rem;
}

.log-group {
  list-style: none;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.log-group li:first-child {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.log-group.added {
  border-left: 3px solid #28a745;
  padding-left: 0.75rem;
}

.log-group.changed {
  border-left: 3px solid #ffc107;
  padding-left: 0.75rem;
}

.log-group.fixed {
  border-left: 3px solid #17a2b8;
  padding-left: 0.75rem;
}

.section-notice {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #333;
}

.notice-icon {
  font-size: larger;
}

.doc-container {
  display: flex;
  flex-direction: column;
  gap: .5cm;
}

.doc-list {
  display: flex;
  flex-direction: column;
  gap: .25cm;
  padding: 0;
  margin: 0;

  ul {
    list-style-type: none;
    padding-left: 0.75cm;
    padding-right: 0.75cm;
  }

  li {
    display: flex;
    list-style-type: none;
    line-height: 1.5;
  }
}

.code-viewer-container {
  display: flex;
  flex-direction: column;
  gap: .25cm;
}

.doc-spacer {
  font-size: larger;
}

.width40 {
  img {
    width: 40% !important;
  }
}